.mpTrackingFilter input{

    margin: 5px;

    width: 450px;

}



.mpTrackingFilter #filterAlert{

    margin: 5px;

}



#deleteFilter{
    background-color: crimson;
}

.mpTrackerUrls input{
    width: 450px;
    margin: 5px;
}

.buttonBox{
    display: inline-block;
}

